#game-container {
    text-align:center;
}

#game-board {
    border: 3px solid black;
}

#scoreDisplay {
    margin: 7px;
    font-size: 40px;
    font-family: consolas, monospace;

}

#reset-button {
    font-family: consolas, monospace;
    border-radius: 4px;
}

#reset-button:active {
    transform: translateY(1px); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}